
#profileImage{
  float: right;
  margin-right: 8vw;
  margin-top: 1vw;
  display: inline-block;
  height: 25vw;
  border-radius: 10%;
}
#aboutMe{
  width: 40vw;
  text-align: justify;
  margin-top: 3vw;
  margin-left: 5vw;
  margin-bottom: 3vw;

}
#skillsTitle{
  margin-top: 1vw;
  margin-left: 5vw;
}
.logo{

  display: inline-block;
  height: 25px;
  padding-bottom: 5px;

}
.elementExperience{
  width: 50vw;
  text-align: justify;
  margin-top: 10px;
  margin-left: 15vw;
}
#headingExperience{
  margin-top: 2vw;
  margin-left: 15vw;
  color:white;
}

#gif{
  width:15vw;

}
#textContact{
  margin-left: 8vw;
  margin-right: 8vw;
}