


{% extends "base.html" %}

{% block css %}{% endblock css %}

{% block title %} Connect {% endblock %}
{% block body %}

    <div class="container">

        <div class="jumbotron my-4">
            <h1 class="display-4 font-weight-normal text-center">Get In Touch</h1>
            <div id="textContact">
                <p class="lead font-weight-normal text-justify">I am always looking for new opportunities. Whether it's
                    for
                    a potential project, internship or just to say hi, I'll answer your email! If you want my resume,
                    you can
                    enter your email, and I will send it to you right away.</p>

                <span id="formEmail">
                <form class="form-inline">
                    <label for="email">Email:</label>
                    <input type="email" id="email" placeholder="Enter email" name="email">

                    <button type="submit">Submit</button>


                </form>
                </span>
                <p class="lead font-weight-normal text-justify">If you are curious or want to know more about me, don't
                    be shy and go
                    talk to Marty! It's my own chat-bot to help you find quick information about me.</p>


                <div id="btncenter">
                    <button onclick="window.location.href = '/chatbot';" type="button" id="btnchatbot">Marty:ChatBot</button>
                </div>

                <br>
                <p class="lead font-weight-normal text-justify">To stay connected: </p>

                <div id="iconcontact">
                    <ul class="list-unstyled  text-center">
                        <li>
                            <a href="https://www.linkedin.com/in/martin-senecal/">
                                <i class="fab fa-linkedin-in fa-lg"> Linkedin profile </i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:martinsenecal2000@gmail.com">
                                <i class="fas fa-envelope-square fa-lg"> martinsenecal2000@gmail.com</i>
                            </a>

                        </li>
                        <li>
                            <a href="https://github.com/martinsenecal">
                                <i class="fab fa-github fa-lg"> GitHub profile </i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/martin.seneca1">
                                <i class="fab fa-facebook fa-lg"> Facebook profile</i>
                            </a>
                        </li>


                    </ul>
                </div>

            </div>

        </div>

    </div>

{% endblock %}

