{% extends "base.html" %}

{% block css %}{% endblock css %}

{% block title %} Experience {% endblock %}
{% block body %}
    <h1 class="headingExperience">My Experience</h1>

    <div class="education">
    <h3 class="headingExperience">Education</h3>
    <div class="elementExperience">
        <h5>Concordia University</h5>
         <img class="logo" src="static/images/concordia-logo.jpg" alt="ConU Logo">
        <p> B.Eng. in Software Engineering (COOP)</p>
        <p>Montreal, Canada</p>
        <p>2019 - 2023</p>
        <p> GPA: 3.9/4.3</p>
        <h7>As a student I...</h7>
        <ul>
            <li>was the Sponsorship Director of ConUHacks (largest hackathon in Quebec) with a total of 800 participants.</li>
        </ul>
        <h7> Relevant Courses:</h7>
        <ul>
            <li>Discrete Mathematics</li>
            <li>Object-Oriented Programming I&II in JAVA</li>
            <li>System Hardware</li>
            <li>Web Programming</li>
        </ul>

    </div>

     <div class="elementExperience">
        <h5>College Bois-De-Boulogne (CEGEP)</h5>
         <img class="logo" src="static/images/bdeb-logo.png" alt="BdeB Logo">
        <p> DEC in Computer Science</p>
        <p>Montreal, Canada</p>
        <p>2017 - 2019</p>
        <p> R-Score: 32.2 (85%)</p>
        <h7>As a student I...</h7>
        <ul>
            <li>was Awarded a Scholarship for Academic Commitment</li>
            <li>Acquired hands-on programming skills in Java</li>
    </div>

    </div>

{% endblock %}