
/*
Remove Useless Components
Modify Styling for Blog Post.
 */
.bodyMessage {
    margin: 0 auto;
    max-width: 820px;
    padding: 0 20px;

    margin-bottom: 5vw;

    border-radius: 10px;
    background-color: #004aad;


}

.messagesgrouping {
    overflow-y: scroll;
    height: 350px;
}

#chatbotheader {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
    margin-bottom: 2vw;
    margin-top: 2vw;
    border-radius: 5px;
    background-color: white;
    width: 40vw;
    text-align: center;
}

.containerChat {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.containerChat::after {
    content: "";
    clear: both;
    display: table;
}

.containerChat img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.containerChat img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

#chatdivider {
    background-color: white;
    height: 1px;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}